body,
html {
    margin: 0;
    min-height: 100%;
}

.menu-li,
.home-imgtxt {
    font-family: 'Great Vibes', cursive;
}

.menu {
    margin: 16px 0 10px 5px;
}

.menu-li {
    list-style: none;
    display: inline-block;
    margin-left: 100px;
}

.menu-li a {
    color: #d4af37;
    font-size: 4vw;
}

.menu-li a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

.img-responsive {
    height: auto;
}

.collapse-btn {
    display: none;
    background-color: #fff;
    color: #d4af37;
    font-size: 6vw;
    border-style: none;
    border-radius: 5px;
}

.collapse-btn:focus {
    outline: 0;
}

.collapse-btn:hover {
    box-shadow: 1px 1px 8px #a8a8a8;
    transition: 0.3s;
}

.collapse-btn:active {
    box-shadow: inset 1px 1px 8px #a8a8a8;
}

.fa.fa-bars {
    display: block;
}


/* ---------------- home.php ------------------- */

.home-imgtxt {
    position: absolute;
    color: #cad33b;
    font-size: 13vw;
    text-shadow: 2px 2px 4px #000;
    bottom: 0;
    z-index: 1;
}

.roujan-img {
    position: relative;
}

.overlay-img {
    background: url('../img/pool-lykta-3 copy crop.jpg') no-repeat center bottom;
    background-size: contain;
    position: absolute;
    height: 100%;
    width: 100%;
}

@keyframes grow {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

footer {
    color: #fff;
    background-color: #333;
    padding: 20px;
}

@media screen and (max-width: 1030px) {
    .collapse-btn {
        display: block;
    }
    .menu-ul .menu-li {
        display: none;
    }
}

@media screen and (max-width: 1030px) {
    .menu-ul.responsive {
        animation: grow .3s;
    }
    .menu-ul.responsive .menu-li {
        display: block;
        margin-left: 0;
    }
}